{% extends "auctions/layout.html" %}

{% block title %}
Auctions: Categories
{% endblock %}

{% block body %}
    {% if case == 1 %}
        <h2 class="title-page">Categories</h2>
        <ul class="categories-ul">
            {% for category in categories%}
                <li class="categories-li">
                    <a class="categories-link" href="{% url 'categories' category%}"> {{ category }} </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2 class="title-page">Category: {{category}}</h2>
        <div class="container-index">
            {% for listing in listings %}
                <a href="{% url 'listing_page' listing.id %}" class="active-listing">
                    {% if listing.imageUrl != "" %}
                        <div class="active-listing-image" style="background-image: url('{{listing.imageUrl}}');"></div>
                    {% endif %}
                    <div class="active-listing-details">
                        <h4>{{listing.title}}</h4>
                        <p class="index-description">Price: ${{listing.currentBid}}</p>
                        <p class="index-description">{{listing.description}}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}