{% extends 'auctions/layout.html' %}

{% block body %}
    <h2>My Watchlist</h2>

    <div class="container-index">
    {% if watch_listings == None %}
        <p>No listings, feel free to check all the <a class="watchList-link" href="{% url 'index' %}">Active Listings</a></p>
    {% else %}
        {% for listing in watch_listings %}
            <a href="{% url 'listing_page' listing.FK_list.id %}" class="active-listing">
                {% if listing.imageUrl != "" %}
                    <div class="active-listing-image" style="background-image: url('{{listing.FK_list.imageUrl}}');"></div>
                {% endif %}
                <div class="active-listing-details">
                    <h4>{{listing.FK_list.title}}</h4>
                    <p class="index-description">Price: ${{listing.FK_list.currentBid}}</p>
                    <p class="index-description">{{listing.FK_list.description}}</p>
                </div>
            </a>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}