::-webkit-scrollbar {
    width: 6px;
    background-color: inherit;
}

::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: rgb(88, 88, 88);
    border-radius: 10px;
}

body {
    padding: 10px;
}

.container-index {
    display: flex;
    flex-direction: column;
}

.active-listing {
    border: solid 1px lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
    overflow-y: scroll;
    padding: 5px;
    color: inherit;
}

.active-listing:hover {
    text-decoration: none;
    color: inherit;
}

.active-listing-image{
    background-position:50% 50%;
    background-repeat: no-repeat;
    background-size:contain;
    border-radius: 10px;
    height: 300px;
    margin-right: 30px;
    width: 300px;
}

.active-listing-details {
    margin: 30px 10px 30px 10px;
    vertical-align: middle;
}

.small-text{
    color: rgb(116, 116, 116);
    font-size: 0.70rem;
}

.small-text-link{
    color: rgb(97, 124, 203)
}

.small-text-link:hover{
    text-decoration: none;
}

.container-flex {
    display: flex;
    flex-direction: column;
}

.responsive-form {
    width: 100%;
}

.img-container {
    height: auto;
    margin: 10px 0px 30px 0;
    width: 100%;
}

.img-fluid {
    border-radius: 5px;
}

.textarea-container {
    position: relative;
}

.textarea-container textarea{
    padding-bottom: 24px;
    padding-right: 30px ;
}

.textarea-button {
    background-color: inherit;
    border: none; 
    bottom: 2px;
    color: grey;
    position: absolute;
    right: 12px;
}

.container-comments-boxes {
    max-height: 65vh;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding: 10px;
}

.comment-box {
    border: solid 1px lightgray;
    border-radius: 15px;
    padding: 10px;
}

pre{
    white-space: pre-wrap;
    word-break: break-word;
}

@media only screen and (min-width: 991px) {
    .active-listing {
        flex-direction: row;
        min-height: 200px;
    }
    .responsive-form {
        width: 90%;
    }
    .responsive-form.new-listing {
        width: 50%;
    }
    .img-container {
        width: 90%;
    }
    .container-flex {
        justify-content: space-between;
        flex-direction: row;
        max-width: 1400px;
    }
    .container-listing {
        width: 60%;
    }
    .container-comments {
        width: 40%;
    }
}