body {
    padding: 10px;
}

.small-text{
    font-size: 0.70rem;
    color: rgb(116, 116, 116)
}

.small-text-link{
    color: rgb(97, 124, 203)
}

.small-text-link:hover{
    text-decoration: none;
}

.responsive-form {
    width: 100%;
}

.img-container {
    height: auto;
    margin: 30px 0px 30px 0;
    width: 100%;
}

.img-fluid {
    border-radius: 5px;
}

@media only screen and (min-width: 991px) {
    .responsive-form {
        width: 50%;
    }
    .img-container {
        height: auto;
        width: 50%;
    }
}