pre {
    margin-top: 0.5em;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.containerPosts {
    justify-content: center;
    margin: 0px auto;
    padding-top: 20px;
    max-width: 1240px;
    width: 60vw;
}

.newPost, .post, .contatinerProfile {
    background-color: #FFF;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 15px 15px;
    box-shadow: 0px 5px 5px -5px rgb(0, 0, 0);
    margin-bottom: 10px;
}

.newPost p {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.newPost input {
    width: fit-content !important;
    margin-top: 10px;
}

.newPost textarea {
    border-radius: 5px;
    border: 1px solid lightgrey;
    height: 6em;
    padding: 5px;
}

textarea:focus{
    outline: none !important;
    box-shadow:0 0 2px #00AC7C !important;
}

.picturePlusPost {
    display: flex;
}

.profilePicturePost {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.post {
    display: flex;
    margin-top: 10px;
}

.postContent {
    align-items:flex-start;
    margin-left: 10px;
    width: 100%;
}

.userAndTimestamp{
    align-items: center;
    display: flex;
}

.postUserName {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    transition: 0.4s ease-in-out;
}

.postUserName:hover {
    text-decoration: underline;
}

.postTimestamp{
    color: gray;
    font-size: 0.8em;
    margin-left: auto;
}

.postBtn {
    background-color: inherit;
    border: none;
    transition: 0.2s ease-in-out;
}

.postBtn:hover {
    color: #d9585e;
    background-color: #e093976d;
    border-radius: 50px;
}

.postBtn:focus {
    outline: none;
}

.postBtn.liked {
    color: #d9585e
}