.contatinerProfile {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.contatinerProfile form{
    margin: auto;
}

.userName{
    font-size: 1.2em;
    font-weight: bold;
    margin: auto;
}

.followDetails {
    display: flex;
    margin: auto;
}

.followDetails p {
    color: gray;
    cursor: pointer;
}

.followDetails p:hover {
    color: gray;
    text-decoration: underline;
}

dialog {
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    max-height: 300px;
    padding: 0;
    overflow-y: auto;
    width: 400px;
}

dialog:focus-visible {
    outline: none;
}

dialog::backdrop {
    background: rgb(0 0 0 / .2);
}

dialog ul {
    margin-bottom: 0px;
    padding: 0px 5px;
}

dialog li {
    font-weight: 600;
    list-style: none;
}

.dialog-link {
    color: #0a0a0a;
    text-decoration: none;
}

.modalClose {
    width: 95%;
    text-align: right;
}

.modalClose span{
    cursor: pointer;
    position: fixed;
}

.followDetails span {
    color: #000;
    font-weight: bold;
    margin-left: 10px;
}

.profilePicture {
    border-radius: 50%;
    height: 133px;
    margin: auto;
    width: 133px;
}

.dialogPicture {
    margin: 10px 0 10px 0;
}

.profileBtn, .customFileBtn {
    border: 1px solid #0a0a0a;
    background-color: #FFF;
    border-radius: 5px;
    color: rgb(12, 12, 12);
    cursor: pointer;
    margin: auto;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.profileBtn.follow:hover, .profileBtn.save:hover{
    background-color: #05C19C;
    border-color: #05C19C;
    color: #FFF;
}

.profileBtn.unfollow:hover {
    background-color: #F34C51;
    border-color: #F34C51;
    color: #FFF;
}

.customFileBtn:hover {
    background-color: #e8e7e7;
  }

