::-webkit-scrollbar {
    width: 3px;
    height: 2px;
}

::-webkit-scrollbar-track{
    background-color: #05c19b5a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #00e6a5b1; 
}

body {
    background-image: linear-gradient(to right bottom, #dbdbdb, #d7d9de, #ced8e0, #c3d8e0, #b9d8db, #b8d7da, #b8d6d9, #b7d5d8, #bfd3db, #c8d1d9, #cfd1d5, #d1d1d1);
    min-height: 100vh;
    max-height: fit-content;
    min-width: calc(100vw - 3px);
    max-width: fit-content;
}

.disabled {
    opacity: 0.8;
    transition: 0.4s ease-in-out;
}

.disabled:hover{
    background-color: #05C19C !important;
    opacity: 0.7;
}

.alert {
    margin-bottom: 0px !important;
}

input:focus{
    outline: none !important;
    box-shadow:0 0 3px #00AC7C !important;
}

a:hover {
    text-decoration: none;
}

h2 {
    letter-spacing: -0.03em;
}

.navbar {
    background-color: #FFF !important;
    box-shadow: 0px 5px 5px -4px rgb(98, 98, 98);
    padding-inline: 10px;
}

.userProfileName {
    font-size: 0.7em;
    font-weight: 300 !important;
}

.nav-item.active {
    border-bottom: solid 2px #05C19C;
    border-radius: 1px;
    font-weight: 600;
}

.MyBtn {
    background-color: #05C19C;
    border: none;
    border-radius: 5px;
    color: #FFF;
    margin-bottom: 5px;
    padding: 5px 10px;
    transition: 0.2s ease-in-out;
}

.MyBtn:hover {
    background-color: #00AC7C;
}