{% extends "encyclopedia/layout.html" %}

{% load static %}

{% block title %}
    New Entry
{% endblock %}

{% block linkcss %}
    <link rel="stylesheet" href="{% static 'encyclopedia/newpage.css' %}">
{% endblock %}

{% block body %}
    {% if edit_bool == True %}
        <form class="test" action="{% url 'encyclopedia-edit' title_entry%}" method="post" class="formNewPage">
            {% csrf_token %}
            {{ formnew }}
            <input class="input-newpage" type="submit" value="Save">
        </form>
    {% else %}
        <form class="test" action="{% url 'encyclopedia-new-page'%}" method="post" class="formNewPage">
            {% csrf_token %}
            {{ formnew }}
            <input class="input-newpage" type="submit" value="Save">
        </form>
    {%endif%}
{% endblock %}