{% extends "network/layout.html" %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'network/index.css' %}"/>
{% endblock %}

{% block body %}
    <div class="containerPosts flexColumn">
        {%if has_following == False%}
            <div class="post">
                <p>You are not following any user, check out our <a class="postUserName" href="/">home</a> page!</p>
            </div>
        {%endif%}
        <div id="followingPostsInsert">
        </div> 
    </div>
{% endblock %}