{% extends "network/layout.html" %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'network/index.css' %}"/>
{% endblock %}

{% block body %}
    <div class="containerPosts flexColumn">
        {% if user.is_authenticated %}
            <div class="newPost flexColumn">
                <p>New Post</p>
                <form class="flexColumn" action="{% url 'newPost' %}" method="post">
                    {% csrf_token %}
                    <textarea placeholder="Share your thoughts here..." name="postContent" maxlength="340"></textarea>
                    <input type="submit" class="MyBtn" value="Share">
                </form>
            </div>
        {%endif%}
        <div id="postInsert"></div>
    </div>
{% endblock %}