{% load static %}
<!-- Color inspiration and gradiant -> https://mycolor.space/ thank you very much to that website. -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        {% block link %}{% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand brand" href="{% url 'index' %}"><img src="{% static 'network/images/networking1.png' %}" alt="Networking"></a>
          
            <div class="w-100">
              <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'renderProfile' user.username%}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item" id="allPosts">
                  <a class="nav-link" href="{% url 'index' %}">All Posts{% block profile %}{% endblock %}</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item" id="Following">
                        <a class="nav-link" href="{% url 'followingPosts' %}">Following</a>
                    </li>
                    <li class="nav-item ms-auto">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item ms-auto" id="Log In">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item" id="Register">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
        </nav>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        {% block body %}
        {% endblock %}
        <div id="paginatorDiv" class="pagination"></div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script src="{% static 'network/javaScript/currentLocation.js' %}"></script>
    </body>
</html>