{% extends "network/layout.html" %}

{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'network/index.css' %}"/>
    <link rel="stylesheet" href="{% static 'network/profile.css' %}"/>
{% endblock %}

{% block profile %}
    <span class="userProfileName">({{userProfile}})</span>
{% endblock %}

{% block body %}
    <div class="containerPosts flexColumn">
        <div class="contatinerProfile">
            <img src="{{ userdata.profile_picture.url }}" class="profilePicture">
            <p>{{userdata.username}}</p>
            <div class="followDetails">
                <p>Followers: </p>
                <p>Following: </p>
            </div>
            <button class="MyBtn">Follow</button>
        </div>
        <div id="userPostsInsert"></div>    
    </div>
{% endblock %}

