{% extends "network/layout.html" %}

{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'network/index.css' %}"/>
    <link rel="stylesheet" href="{% static 'network/profile.css' %}"/>
{% endblock %}

{% block profile %}
    <span class="userProfileName">({{userdata.username}})</span>
{% endblock %}

{% block body %}
    <div class="containerPosts flexColumn">
        <div id="profileContainer" class="contatinerProfile">
            <img src="{{ userdata.profile_picture.url }}" class="profilePicture">
            <p>{{userdata.username}}</p>
            <div class="followDetails">
                <p>Followers: <span id="FollowersCounter">{{followers|length}}</span></p>
                <p>Following: <span id="FollowsCounter">{{follows|length}}</span></p>
            </div>
            {% if userdata == user %}
                <button id="btnSettings" class="MyBtn changePicture">Edit profile picture</button>
            {% else%}
                {% if isFollowing == "Login Necessary" %}
                    <button id="btnSettings" class="MyBtn disabled" disabled>Follow</button>
                {% else %}
                    <button id="btnSettings" class="MyBtn follow">{{isFollowing}}</button>
                {% endif %}
            {% endif %}
        </div>
        <div id="userPostsInsert"></div>    
    </div>
{% endblock %}

