
.fadeAnimation{
    animation: fadeInOut 1.5s forwards ease-in-out;
}

.resizeAnimation{
    animation: resizingSmall 0.5s forwards ease-in;
}

.transitionOpacity {
    animation: transitionOpacity 1s forwards ease-in-out;
}

.transitionOpacityFast {
    animation: transitionOpacity 0.5s forwards ease-in-out;
}

.submitLoading::after{
    animation: loading 1s ease infinite;
    content: "";
    height: 16px;
    border: 5px solid transparent;
    border-top-color: #080808;
    border-radius: 50%;
    inset: 0 0 0 0;
    margin: auto;
    position: absolute;
    width: 16px;
}

@keyframes transitionOpacity {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInOut {
    0%{
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}


@keyframes resizingSmall {
    0% {
        height: 1rem;
        padding: 1rem;
        opacity: 1;
    }
    50% {
        height: 1rem;
        padding: 1rem;
        opacity: 0;
    }
    100% {
        height: 0px;
        padding: 0;
        opacity: 0;
    }
}