.transictionMaker {
    height: 0%;
    width: 0%;
    background-color: #e4e4e4;
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.transitionOpacity {
    animation: transitionOpacity 1s forwards ease-in-out;
}

@keyframes transitionOpacity {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
