.transictionMaker {
    height: 0%;
    width: 0%;
    background-color: #e4e4e4;
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.fadeAnimation{
    animation: fadeOut 1.5s forwards ease-in-out;
}

.transitionOpacity {
    animation: transitionOpacity 1s forwards ease-in-out;
}

.transitionOpacityFast {
    animation: transitionOpacity 0.5s forwards ease-in-out;
}

.submitLoading::after{
    animation: loading 1s ease infinite;
    content: "";
    height: 16px;
    border: 5px solid transparent;
    border-top-color: #080808;
    border-radius: 50%;
    inset: 0 0 0 0;
    margin: auto;
    position: absolute;
    width: 16px;
}

@keyframes transitionOpacity {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0%{
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}