footer {
    align-items: center;
    background-color: #dedede;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    height: 150px;
    position: relative;
    width: 100%;
}

.footer-container {
    align-items: flex-end;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.socialMedia-footer-link {
    color: inherit;
    text-decoration: none;
}

.socialMedia-footer-info i {
    color: #303030;
    font-size: 1.5rem;
    font-weight: 800;
}
