.home,
.about_me {
    background-image: linear-gradient(
        to bottom,
        #070707,
        #070707,
        #080808,
        #080808,
        #080808,
        #080808,
        #070707,
        #070707,
        #060606,
        #060606,
        #050505,
        #040404
    );
    color: #fafafa;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.05em;
    min-height: calc(100vh - 48px);
    width: 100%;
}

.authorIntroduction {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: calc(100vh - var(--navBar-size));
}
.homePage-authorDescription {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.authorDescription-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 50%;
}

.authorDescription-welcome,
.authorDescription-job {
    font-size: 1.8rem;
    font-weight: 400;
}

.authorDescription-name {
    font-size: 3rem;
    font-weight: 500;
    font-family: "Rock Salt", cursive;
    margin: 0.3rem 0px;
}

.authorDescription-briefing {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.homePage-authorPicture {
    height: 100%;
}

.homePage-authorPicture img {
    height: 100%;
    object-fit: contain;
}

.authorDescription-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.authorDescription-buttons button {
    background-color: #fafafae1;
    border: none;
    border-radius: 3px;
    color: #080808;
    cursor: pointer;
    padding: 0.6rem 1.5rem;
    transition: all 300ms ease-in-out;
}

.authorDescription-buttons button:hover {
    background-color: #fafafa;
}

.buttons-email-span {
    transition: all 150ms ease-in-out;
}

.tooltip {
    position: relative;
}

.tooltipText {
    color: white;
    background-color: rgba(211, 211, 211, 0.524);
    border-radius: 5px;
    display: block;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    opacity: 0;
    padding: 0.5rem;
    position: absolute;
    pointer-events: none;
    left: 0px;
}

.waveShapeHome {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waveShapeHome svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 56px;
}

.waveShapeHome .shape-fill {
    fill: #fefefe;
}

/* responsive */

@media screen and (min-width: 851px) and (max-width: 1200px) {
    .authorDescription-content {
        width: 90%;
    }
    .homePage-authorPicture {
        align-self: end;
        height: 90%;
    }
}

@media screen and (max-width: 850px) {
    .homePage-authorPicture {
        display: none;
    }
    .home {
        background-image: linear-gradient(
            to bottom,
            #070707,
            #090909,
            #0a0a0a,
            #0c0c0c,
            #0d0d0d,
            #111111,
            #151515,
            #181818,
            #1e1e1e,
            #232323,
            #292929,
            #2f2f2f
        );
        gap: 0px;
    }

    .authorDescription-content {
        text-align: center;
        width: 100%;
    }
    .authorDescription-buttons {
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-top: 1rem;
    }
}
