main {
    padding-top: 0px;
}

.loginSection {
    align-items: center;
    display: flex;
    color: #1f1f1f;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

.loginSection::before {
    background: no-repeat url("../images/loginBackground.jpg") center;
    background-size: cover;
    content: "";
    filter: grayscale(0.3);
    height: 100%;
    position: absolute;
    width: 100%;
}

.loginForm,
.labelGroupLogin,
.loginContainer {
    display: flex;
    flex-direction: column;
}

.loginContainer {
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    border-radius: 5px;
    height: 300px;
    filter: grayscale(0) blur(0px) !important;
    width: 600px;
}

.loginContainer span {
    font-size: 1.5rem;
}

.loginForm {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.labelGroupLogin {
    width: 80%;
}

.loginInput {
    padding: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 0.5rem 0px 1rem 0px;
}

.loginInput:focus {
    outline: none;
}

.loginBtn {
    border: none;
    border-radius: 5px;
    background-color: lightgray;
    color: #1f1f1f;
    cursor: pointer;
    opacity: 0.7;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
}

.loginBtn:hover {
    opacity: 1;
}

/* Responsive */
@media screen and (max-width: 500px) {
    .loginContainer {
        border-radius: 0px;
        height: unset;
        padding: 2rem 0;
    }

    .labelGroupLogin {
        width: 90%;
    }
}
