.newProject {
    min-height: calc(100vh - 48px);
    background-color: #FEFEFE;
    padding: 1rem 0 2rem 0;
}

.carousel {
    box-shadow: 0px 7px 5px -5px #7e7e7e83;
    margin: auto;
    position: relative;
    padding: 1.5rem 0px;
    width: 50%;
}

.carousel-item {
    color: #242424d7;
    display: none;
    height: 200px;
    font-weight: bold;
    width: 100%;
    padding-bottom: 1rem;
}

.itemActive{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.carousel-item-sections{
    align-items: center;
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 50%;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.carousel-nav {
    bottom: 0;
    left: 0;
    padding: 1rem;
    position: absolute;
    text-align: center;
    width: 100%;
}

.carousel-button {
    background-color: rgba(50, 50, 50, 0.3);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin-left: 0.3rem;
    transition: all 0.2s ease-in;
    width: 10px;
}

.activeCarousel {
    background-color: rgb(50, 50, 50, 0.7);
}

.previousArrow {
    color: rgba(37, 37, 37, 0.445);
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: calc(50% - 1rem);
}

.nextArrow {
    color: rgba(37, 37, 37, 0.445);
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 0;
    top: calc(50% - 1rem);
}

.postPreview {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.categoryPreview {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1.3rem 1rem 0 1rem;
}

.postPreview-img {
    align-items: center;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 200px;
}

.postPreview-img img{
    box-shadow: 3px 3px 5px rgb(182, 182, 182);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.postPreview-Title {
    font-weight: 400;
    margin-top: 1rem;
}

.labelGroup {
    align-items: center;
    display: flex;
    gap: 1rem;
}

 .inputNewProject{
    background: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 0.3rem 1rem;
}

textarea.inputNewProject {
    height: 3rem;
    width: 200px;
}

.inputNewProject:focus{
    outline-color: #7e7e7e59;
}

.labelGroupColumn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.selectCategories {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 0.3rem 1rem;
}

.selectCategories:focus {
    outline-color: #7e7e7e59;
}

.saveBtnContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.newProject-preview-save {
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: #FEFEFE;
    color: #101010;
    cursor: pointer;
    margin-right: 6rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    transition: 0.2s ease-in-out;
}

.newProject-preview-save:hover, .projectOptions-choices-btn:hover, .deleteHtmlBtn:hover {
    background-color: lightgray;
}

/* --- bellow here, css of the second part of the new project page */

.newProjectMaker-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    justify-content: flex-start;
    padding: 3rem;
    width: 100%;
}

.projectOptions {
    align-items: center;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.projectOptions-lisContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.options-list-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.projectOptions-choices {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.projectOptions-choices-btn, .deleteHtmlBtn {
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: #FEFEFE;
    color: #101010;
    cursor: pointer;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: 0.2s ease-in-out;
}

.deleteHtmlBtn {
    font-weight: 200;
    font-size: 0.7rem;
    padding: 0.3rem 0.5rem;
}

.projectOptionsNewElements {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: auto;
    width: 95%;
}

.labelGroupPreview {
    align-items: self-start;
    border-radius: 2px;
    box-shadow: 3px 3px 9px 0px rgba(211, 211, 211);
    flex-direction: column;
    display: flex;
    gap: 1rem;
    padding: 0.8rem 1.5rem;
}

.projectTitleFinal {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.textContent {
    font-size: 1.2rem;
}

.imagePostPreview{
    display: inline-block;
    margin: 1rem 0.5rem;
}

.imagePost {
    box-shadow: 3px 3px 5px rgb(182, 182, 182);
    max-width: 100%;
    object-fit: contain;
}

.small {
    max-height: 250px;
}

.medium {
    max-height: 500px;
}

.big {
    max-height: 800px;
}

.resizeInfo {
    font-size: 0.7rem;
    color: #24242498;
    font-weight: 600;
}