.projects {
    background-color: #FEFEFE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    min-height: calc(100vh - 48px);
    padding: 3rem;
    width: 100%;
}

.category-title {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.category-thumbnails{
    display: flex;
    gap: 3rem;
    padding-right: 2rem;
    flex-wrap: wrap;
}

.thumbnail-content {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.thumbnail-content:hover .thumbnail-content-image-container img{
    transform: scale(1.15, 1.15);
}

.thumbnail-content:hover .thumbnail-content-image-container{
    box-shadow: 3px 3px 10px rgb(136 136 136);
}

.thumbnail-content-image-container {
    align-items: center;
    box-shadow: 3px 3px 5px rgb(182, 182, 182);
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    width: 200px;
}

.thumbnail-content-image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

/* Responsive */
@media screen and (max-width: 500px) {
    .projects {
        padding: 0 0 3rem 0;
    }

    .thumbnail-content-image-container {
        height: 250px;
        width: 250px;
    }

    .category-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .category-title {
        font-size: 2.3rem;
        margin: 2rem 0 1rem 0;
    }

    .category-thumbnails{
        justify-content: center;
        padding-right: 0px;
    }

    .thumbnail-title {
        font-size: 1.3rem;
    }
}
