.project {
    background-color: #FEFEFE;
    min-height: calc(100vh - 48px);
    width: 100%;
}

.projectPage-container {
    padding: 3rem;
}

.projectTitle {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.projectContent-text {
    font-weight: 300;
}

.projectContent-imageContainer {
    display: inline-block;
    margin: 1rem 0.5rem;
}

/* Responsive */
@media screen and (max-width: 500px) {
    .project {
        padding: 0 0 2rem 0;
    }

    .projectPage-container {
        padding: 1rem 2rem 2rem 2rem;
    }
    
    .projectContent-text {
        font-weight: 300;
        margin: 0 0.5rem;
    }
    .projectTitle {
        font-size: 3rem;
        margin: 1.5rem 0.5rem 3rem;
    }
    
}