
main {
    overflow: hidden;
}

.navBar {
    height: 48px;
    width: 100%;
    background-color: #070707;
}

.navBar ul {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0px;
}

.navBar a{
    text-decoration: none;
    color: #FAFAFA;
}

.mainInfo {
    background-image: linear-gradient(to top, #060606, #070707, #070707, #080808, #080808, #080808, #090909, #090909, #090909, #080808, #080808, #070707);
    color: #FAFAFA;
    display: flex;
    gap:100px;
    height: calc(100vh - 48px);
    position: relative;
    width: 100%;
}

.mainInfo-authorDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainInfo-authorPicture {
    max-height: 100%;
    width: 33%px;
}

.mainInfo-authorPicture img {
    height: 100%;
    object-fit:contain;
}