{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>{% block title %} Jonathan Rosildo - Fine artist{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'portfolio/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'portfolio/css/index.css' %}">
        <link rel="stylesheet" href="{% static 'portfolio/css/animation.css' %}">
        <link rel="stylesheet" href="{% static 'portfolio/css/homePage.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Permanent+Marker&display=swap" rel="stylesheet">

    </head>
    <body>
        <header>
            <nav class="navBar">
                <ul>
                    <li><a class="navA active" href="#">Home</a></li>
                    <li><a class="navA " href="#">About me</a></li>
                    <li><a class="navA" href="#">Projects</a></li>
                    <li><a class="navA" href="#">Awards</a></li>
                    <li><a class="navA" href="#">Contact me</a></li>
                </ul>
                <div class="navBar-language">
                    <button id="EN" class="languageBtn active">EN</button>
                    <button id="PT" class="languageBtn">PT</button>
                </div>
            </nav>
        </header>
        <main data-language="en" data-page-render="{{pageToRender}}">
            <div class="transictionMaker"></div>

            <section class="homePage" data-render-section="true">
            </section>

        </main>
        <footer></footer>
        <script src="{% static 'portfolio/javaScript/main.js' %}" type="module"></script>
    </body>
</html>