{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, inital-sacale=1">
        <meta charset="UTF-8">
        <title>{% block title %} Jonathan Rosildo - Fine artist{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'portfolio/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'portfolio/css/index.css' %}">
        <link rel="stylesheet" href="{% static 'portfolio/css/animation.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Permanent+Marker&display=swap" rel="stylesheet">

    </head>
    <body data-language="en">
        <header>
            <nav class="navBar">
                <ul>
                    <li><a class="navA active" href="#">About me</a></li>
                    <li><a class="navA" href="#">Projects</a></li>
                    <li><a class="navA" href="#">Contact me</a></li>
                    <li><a class="navA" href="#">Awards</a></li>
                </ul>
                <div class="navBar-language">
                    <button id="EN" class="languageBtn active">EN</button>
                    <button id="PT" class="languageBtn">PT</button>
                </div>
            </nav>
        </header>
        <main>
            <div class="transictionMaker"></div>

            <section class="mainInfo">
                <div class="mainInfo-authorDescription">
                    <div class="authorDescription-content">
                        <h3 class="authorDescription-welcome">Hello! I am</h3>
                        <h1 class="authorDescription-name">Jonathan Rosildo</h1>
                        <span class="authorDescription-job">Fine artist</span>
                        <span class="authorDescription-briefing">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue, est
                            vitae tempor mollis, mauris purus euismod nisl, et viverra justo ipsum vitae
                            ligula. Mauris quis auctor ligula
                        </span>
                        <div class="authorDescription-buttons">
                            <div class="tooltip">
                                <button class="authorDescription-buttons-email" >
                                    <span class=buttons-email-span>My e-mail</span>
                                </button>
                                <span class="tooltipText"></span>
                            </div>
                            <button class="authorDescription-buttons-projects" >Projects</button>
                        </div>
                    </div>
                </div>
                <div class="mainInfo-authorPicture">
                    <img src="../../static/portfolio/images/john_image_1.jpeg" alt="Jonathan Rosildo Image">
                </div>
            </section>

            <section>

            </section>

        </main>
        <footer></footer>
        <script src="{% static 'portfolio/javaScript/main.js' %}" type="module"></script>
    </body>
</html>