textarea {
    min-height: 400px !important;
}

p {
    margin-bottom: 0;
}

.emails-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.email {
    background-color: #FFF;
    border: 1px solid #aeaeae;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 1em;
    transition: 0.2s ease-in-out;
}

.email:hover, .email.read:hover{
    background-color: rgba(245, 245, 245, 0.86);
}

.email.read {
    background-color: rgb(237, 237, 237);
}

.email.read span{
    font-size: 1em;
    font-weight: 600 ;
}

.sender_subject span {
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 5px;
}

.timestampAndArchive {
    align-items: center;
    display: flex;
    font-size: 0.8em;
}

.timestamp span {
    border-right: 1px solid gray;
    color: gray;
    padding-right: 5px;
}

.timestamp .noBorder {
    border: none;
}


.emailPageDetails {
    display: flex;
    flex-direction: column;
}

.emailPageDetails span {
    font-weight: bold;
    font-size: 1.1em;
}

.archivebtn {
    align-items: center;
    border: none;
    background-color: inherit;
    display: flex;
    justify-content: center;
    height: 30px;
    margin-left: 5px;
    width: 30px;
}

.archivebtn img {
    max-height: 22px;
    max-width: 22px;
    transition: 0.2s ease-in-out;
}

.archivebtn:hover {
    border-radius: 50px;
    background-color: lightgray;
}


.archive_animation {
    animation: archiving 0.2s forwards;
    transition: ease-in-out;
}

@keyframes archiving {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.displayNone {
    display: none;
}